*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  

}

body{
    background-color: black;
    color: white;    

}

.header{
    background-color:rgb(120, 156, 205) ;
    color: whitesmoke;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 10px;

    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0.5rem;

        .anclalogo{
            text-decoration: none;
            color: whitesmoke;
            font-weight: 600;
            font-size: 2rem;

        }

        .listanav{
            list-style: none;
            display: flex;
            align-items: center;

            .listaitem{
                margin-right: 20px;

                .linknav{
                    color: antiquewhite;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.2rem;
                    padding: 1rem 1rem;

                    &:hover{
                        transform: scale(0.95);
                        box-shadow: 0 0 10px lightgreen;
                        border-radius: 5px;

                    }

                }

                .linknav.IniciarSesion{
                    background-color: pink;
                    color: grey;
                    font: bold;
                    border-radius: 5px;


                    &:hover{
                        background-color: gold;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px ;


                    }

                }


            }

        }
    }
}


.main{

    .sectionPrincipal{
        color: white;
        background:url(/img/backgroundmyl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .tituloPrincipal{
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: white;
            text-shadow: 5px 1px black;


        }

        .SubtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 4rem;
            color: white;
            text-shadow: 3px 1px black;


        }

        .botonregistrarse{
            background-color: pink;
            color: grey;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: 600;
            text-decoration: none;

            transition: transform 0.3s box-shadow 0.3s;

            &:hover{
                background-color: gold;
                transform: scale(0.95);
                box-shadow: 0 0 10px yellow;
            }
        }

    }
    
    .sectionClasicos{
        padding-top: 4rem;
        font-size: 3rem;
        font-weight: 600;
        text-decoration: underline;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .listatend{
            padding-top: 8rem;
            padding-left: 8rem;
            padding-right: 8rem;
            list-style: none;
            text-decoration: none;
            border-radius: 5px;
            display: flex;
            flex-direction: flex;
            column-gap: 10px;
            justify-content: space-around;
            flex-wrap: wrap;


            .covergame{
                border-radius: 20px;
                border: 2px 5px;
                    
    
            }
        }

        


    }

    .buscadorPrincipal{
        background-color: black;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tituloSection{
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 1rem;

        }

        .buscadorjuegos{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;


            .inputbuscador{
                height: 50px;
                width: 500px;
                padding: 0px 20px;
                font-size: 1.2rem;
                border-radius: 40px;


            }

            .botonbuscador{
            background-color: pink;
            color:grey; 
            display: inline-block;
            height: 50px;
            margin: 20px 10px;
            padding: 0 20px;
            border-radius: 40px;
            font-size: 1.2rem;
            font-weight: 700;
            border: 1px solid white;


            transition: transform 0.3s, box-shadow 0.3s;

            &:hover{
                background-color: gold;
                transform: scale(0.95);
                box-shadow: 0 0 10px yellow;


            }

            }

        }
    }
}



.footer{
    font-size: 1rem;

}


.social{
    font-size: 1.5rem;
    width: 400px;

    .facebook{
        font-size: 1.5rem;
    }

    .whatsapp{
        font-size: 1.5rem;
    }

    .linkedin{
        font-size: 1.5rem;
    }



}




/*responsive*/

@media (max-width: 768px){
    
    .header{
        height:initial;



        .navegacion{
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;


            .anclalogo{
                font-weight: 700;
                font-size: 2rem;

        }

        .listanav{
            padding: initial;


            .linknav{
                font-weight: 400;
                margin-right: initial;
                font-size: 1rem;
                padding: 0.2rem;
            }
        }


        }

    }



}















footer{
    font: bold;
    color: white;
    text-align: center;
}
