*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    

}

body{
    background-color: black;
    color: whitesmoke;    
    background: url(/img/backgroundmyl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    .formul{
        position: relative;
        font-size: 1.5rem;
        font: bold;
        background-color: lightblue;
        border-radius: 50px;
        margin: 0;
        border: 2px;
        text-align: center;
        flex-direction: column;
        display: flex;
        flex-wrap: nowrap;
        width: 60vh;
        height: 60vh;

        .firstname{
            font-size: 1.5rem;
            height: 2rem;
            border-radius: 5px;

            
        }    

        .lastname{
            font-size: 1.5rem;
            height: 2rem;
            border-radius: 5px;
            
        }

        .email{
            font-size: 1.5rem;
            height: 2rem;
            border-radius: 5px;
            
        }
        
        .bdate{
            font-size: 1.5rem;
            height: 2rem;
            border-radius: 5px;

        }
        .pass{
            font-size: 1.5rem;
            height: 2rem;
            border-radius: 5px;
        }
        

        #Pais{
            font-size: 1.5rem;
            height: 2rem;
            border-radius: 5px;

            
        
        }

        .checkbox{
            font-size: 2rem;
            
            


        }

        .registrarse{
            font-size: 1rem;
            height: 2rem;
            border-radius: 5px;
            width: 7rem;

        }

        .borrar{
            font-size: 1rem;
            height: 2rem;
            width: 7rem;
            border-radius: 5px;


        }
    
    
    
    
    }
    
    

    
    
}

.foot{
    padding: 1rem;
    margin: 1.5rem;
    text-align: justify;
    font-size: 1.5rem;
    color: grey;
    font: bold;
    background-color: pink;
    border-radius: 5px;
    text-decoration: none;

    transition: transform 0.3s box-shadow 0.3s;

    &:hover{
            background-color: gold;
            transform: scale(0.95);
            box-shadow: 0 0 10px yellow;
            }
    
}







footer{
    font: bold;
    color:white;
    text-align: center;

    .social{
        font-size: 1.2rem;
        padding-top: 2rem;
        border: 2rem;

    }


}

