*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    background: url(/img/backgroundmyl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

h1{
    text-align: center;
    font-weight: 600;
    color: #5e5d5d;
}

form{
    background: lightblue;
    margin-top: 40px;
    padding: 0 0;
    border-radius: 30px;
    width: 25%;
}

.form{
    width: 100%;
    margin: auto;
        
}

form .grupo{
    position: relative;
    margin: 25px ;
    
}

input{
    background: white;
    color: #c6c6c6;
    font-size: 16px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border-radius: 5px;
}



input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    font-size: 14px;
    position: absolute;
    left: 5px;
    top: 10px;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
    font-weight: 700;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(240, 48, 48);
    font-size: 14px;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
    display: block;
    width: 70%;
    margin: 5px auto;
    color: grey;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;

    transition: transform 0.3s box-shadow 0.3s;

            &:hover{
                background-color: gold;
                transform: scale(0.95);
                box-shadow: 0 0 10px yellow;
                }
}

.checkbox{
    color: #5e5d5d;
    
}

h5{
    color:#5e5d5d;;
    
}

.foot{
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
    
    margin: 30px auto;
    display: inline-block;
    justify-content: right;
    align-items: right;
    color: grey;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    

    transition: transform 0.3s box-shadow 0.3s;

    &:hover{
            background-color: gold;
            transform: scale(0.95);
            box-shadow: 0 0 10px yellow;
            }
    
}




@media screen and (max-width:500px){
    form{
        width: 60%;
    }
}













