*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  

}

body{
    background-color: black;
    color: white;    
    background: url(/img/backgroundmyl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    .formulario{
        position: relative;
        font-size: 2rem;
        font: bold;
        background-color: lightblue;
        border-radius: 50px;
        margin: 0;
        border: 2px;
        
        text-align: center;
        flex-direction: column;
        display: flex;
        flex-wrap: nowrap;
        width: 60vh;
        height: 70vh;

        .firstname{
            font-size: 1rem;

            .lastname{
                font-size: 16px;
            }

        }
    
    
    }
    
    #Pais{
        font-size: 1rem;
        
    
    
    }

    .foot{
        text-align: right;
        font-size: 1rem;
        color: white;
        font: bold;
        background-color: blueviolet;
        border-radius: 5px;
        
    }
    
    
}


footer{
    font: bold;
    color: white;
    text-align: center;

    .social{
        font-size: 1.2rem;
        padding-top: 2rem;
        border: 2rem;

    }


}

